/* CustomerBill.css */

.user-bill {
  font-family: Arial, sans-serif;
  background-color: white;
}

.user-bill table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #000; /* Black border */
}

.user-bill th,
.user-bill td {
  padding: 10px;
  border: 1px solid #000; /* Black border */
  text-align: left;
}

.user-bill th {
  background-color: #f5f5f5;
}

.user-bill .totals {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
}

.user-bill .totals span {
  color: #333;
}
